<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    </head>
    <body>
        <div class="box">
            <div class="contenido">
                <div class="nombre">{% block application1 %}{% endblock %}</div>
                <div class="botones">
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "calc", number = 1) }}'" 
                        value="open" 
                        name="open_app1" 
                    >  
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "calc", number = 2) }}'" 
                        value="close" 
                        name="close_app1"
                    >
                </div>
            </div>
        </div>
        <div class="box">
            <div class="contenido">
                <div class="nombre" style="padding: 0 7%">{% block application2 %}{% endblock %}</div>
                <div class="botones">
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "paint", number = 1) }}'" 
                        value="open" 
                        name="open_app2" 
                    >  
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "paint", number = 2) }}'" 
                        value="close" 
                        name="close_app2"
                    >
                </div>
            </div>
        </div>
        <div class="box">
            <div class="contenido">
                <div class="nombre" style="padding: 0 6.5%">{% block application3 %}{% endblock %}</div>
                <div class="botones">
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "notepad", number = 1) }}'" 
                        value="open" 
                        name="open_app3" 
                    >  
                    <input 
                        class="application" 
                        type="submit" 
                        onclick="window.location.href='{{ url_for('kernel.open_app', slug = "notepad", number = 2) }}'" 
                        value="close" 
                        name="close_app3"
                    >
                </div> 
            </div>
        </div>
    </body>
</html>